# Ignore bundler & gem stuff
*.gem
.bundle
Gemfile.lock
Jarfile.lock
/.jbundler
pkg/*

# Ignore db
/db
/vendor/datomic

# Ignore all logfiles and tempfiles.
/log
/tmp
/clojure/target/
clojure/.lein-failures
clojure/.lein-repl-history
clojure/pom.xml
