[[:db/add #db/id[:db.part/user] :db/ident :ref/vector]
 [:db/add #db/id[:db.part/user] :db/ident :ref/map]
 [:db/add #db/id[:db.part/user] :db/ident :ref/value]

 {:db/id #db/id[:db.part/db]
  :db/ident :ref/type
  :db/valueType :db.type/keyword
  :db/cardinality :db.cardinality/one
  :db/isComponent true
  :db/doc "Type of entity pointed to by this ref."
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :element.map/key
  :db/valueType :db.type/keyword
  :db/cardinality :db.cardinality/one
  :db/doc "Map entry key."
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :element.vector/index
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one
  :db/doc "Vector index"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :ref/empty
  :db/valueType :db.type/boolean
  :db/cardinality :db.cardinality/one
  :db/doc "Empty map or vector marker.  An entity with this attribute set to true represents emptiness."
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :element.value/nil
  :db/valueType :db.type/boolean
  :db/cardinality :db.cardinality/one
  :db/doc "Nil value of vector or map element."
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :element.value/bigdec
  :db/valueType :db.type/bigdec
  :db/cardinality :db.cardinality/one
  :db/doc "BigDecimal value of vector, map, or value element."
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :element.value/bigint
  :db/valueType :db.type/bigint
  :db/cardinality :db.cardinality/one
  :db/doc "BigInteger value of vector, map, or value element."
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :element.value/boolean
  :db/valueType :db.type/boolean
  :db/cardinality :db.cardinality/one
  :db/doc "Boolean value of vector, map, or value element."
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :element.value/bytes
  :db/valueType :db.type/bytes
  :db/cardinality :db.cardinality/one
  :db/doc "Bytes value of vector, map, or value element."
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :element.value/double
  :db/valueType :db.type/double
  :db/cardinality :db.cardinality/one
  :db/doc "Double value of vector, map, or value element."
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :element.value/float
  :db/valueType :db.type/float
  :db/cardinality :db.cardinality/one
  :db/doc "Float value of vector, map, or value element."
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :element.value/fn
  :db/valueType :db.type/fn
  :db/cardinality :db.cardinality/one
  :db/doc "Function value of vector, map, or value element."
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :element.value/instant
  :db/valueType :db.type/instant
  :db/cardinality :db.cardinality/one
  :db/doc "Instant value of vector, map, or value element."
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :element.value/keyword
  :db/valueType :db.type/keyword
  :db/cardinality :db.cardinality/one
  :db/doc "Keyword value of vector, map, or value element."
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :element.value/long
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one
  :db/doc "Long value of vector, map, or value element."
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :element.value/ref
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/doc "Ref value of vector, map, or value element."
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :element.value/string
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "String value of vector, map, or value element."
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :element.value/map
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many
  :db/unique :db.unique/value
  :db/doc "Map value of vector, map, or value element."
  :db/isComponent true
  :ref/type :ref.type/map
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :element.value/vector
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many
  :db/unique :db.unique/value
  :db/doc "Vector value of vector, map, or value element."
  :db/isComponent true
  :ref/type :ref.type/vector
  :db.install/_attribute :db.part/db}]
