[
 {:db/id #db/id [:db.part/user]
  :db/ident :dmzr.datomize
  :db/doc "Data function that increments value of attribute a by amount."
  :db/fn #db/fn {:lang "clojure"
                 :params [db entity]
                 :requires [[datomizer.datomize]]
                 :code "(datomizer.datomize/datomize db entity)"}}]
